# ENV TEST CONFIGURATION - PLACEHOLDERS
DATABASE_URL_TEST="mysql://<user>:<password>@srv890.hstgr.io:3306/u223033896_ebd_test"
DATABASE_URL="mysql://<user>:<password>@srv890.hstgr.io:3306/u223033896_ebd_test"
TEST_DATABASE_NAME="u223033896_ebd_test"
NEXTAUTH_URL="http://localhost:3100"
AUTH_SECRET="REPLACE_WITH_RANDOM_TEST_SECRET"
NEXTAUTH_SECRET="REPLACE_WITH_RANDOM_TEST_SECRET"
